AUTH_SECRET = "" # Generated with `openssl rand -base64 32` or npx next-auth@latest generate-secret
NEXTAUTH_URL = "" # https://your-app-url.com
AUTH_GITHUB_ID = "" # ID from Github App
AUTH_GITHUB_SECRET = "" # Secret from Github App
AUTH_GOOGLE_CLIENT_ID = "" # ID from Google App
AUTH_GOOGLE_CLIENT_SECRET = "" # Secret from Google App
NEXT_PUBLIC_CONNECTION_ID = "" # Connection ID from Leen API
NEXT_PUBLIC_API_KEY = "" # API Key from Leen API
